html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: lightgray;
}

.header__intro {
  width: 25%;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.header__intro > .intro__menu:hover{
  cursor: pointer;
}

.header__avatar {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* .avatar__cart{
  width: 40px;
} */
/* 
.cart__section::before{
  content: "";
  background-color: orange;
  position: relative;
  top: 0px;
  left: 33px;
  display: inline-block;
  height: 12px;
  width: 17px;
  border-radius: 50%;
} */

.avatar__cart::after{
  content: "";
  background-color: black;
  position: relative;
  left: 0;
  top: 21px;
  display: block;
  opacity: 0;
  width: 100%;
  height: 2px;
  transition: 0.6s;
}
.avatar__cart:hover{
  cursor: pointer;
}
.avatar__cart:hover::after{
  opacity: 1;
}

.avatar__img > img{
  width: 35px;
}

